anyio
attrs
babel
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
contourpy
cycler
defusedxml
fastjsonschema
fonttools
h11
httpcore
httpx
idna
iniconfig
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
kiwisolver
lark
MarkupSafe
matplotlib
mistune
networkx
numpy
packaging
pandas
pandocfilters
pillow
platformdirs
pluggy
psutil
pycparser
Pygments
pyparsing
pytest
python-dateutil
pytz
PyYAML
referencing
requests
rpds-py
scipy
setuptools
six
soupsieve
tinycss2
trimesh
typing_extensions
tzdata
urllib3
webencodings